In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [2]:
df=pd.read_csv('Email.csv')

In [3]:
df

                                                   text        spam
0     Subject: naturally irresistible your corporate...           1
1     Subject: the stock trading gunslinger  fanny i...           1
2     Subject: unbelievable new homes made easy  im ...           1
3     Subject: 4 color printing special  request add...           1
4     Subject: do not have money , get software cds ...           1
...                                                 ...         ...
5723  Subject: re : enron case study update  wow ! a...           0
5724  Subject: re : interest  david ,  please , call...           0
5725  Subject: news : aurora 5 . 2 update  aurora ve...           0
5726                                                NaN         NaN
5727                                                NaN

[5728 rows x 2 columns]

In [4]:
df.drop_duplicates()

                                                   text        spam
0     Subject: naturally irresistible your corporate...           1
1     Subject: the stock trading gunslinger  fanny i...           1
2     Subject: unbelievable new homes made easy  im ...           1
3     Subject: 4 color printing special  request add...           1
4     Subject: do not have money , get software cds ...           1
...                                                 ...         ...
5723  Subject: re : enron case study update  wow ! a...           0
5724  Subject: re : interest  david ,  please , call...           0
5725  Subject: news : aurora 5 . 2 update  aurora ve...           0
5726                                                NaN         NaN
5727                                                NaN

[5695 rows x 2 columns]

In [5]:
df.isnull().sum()

text    2
spam    1
dtype: int64

In [6]:
df=df.dropna()

In [7]:
df

                                                   text spam
0     Subject: naturally irresistible your corporate...    1
1     Subject: the stock trading gunslinger  fanny i...    1
2     Subject: unbelievable new homes made easy  im ...    1
3     Subject: 4 color printing special  request add...    1
4     Subject: do not have money , get software cds ...    1
...                                                 ...  ...
5721  Subject: re : research and development charges...    0
5722  Subject: re : receipts from visit  jim ,  than...    0
5723  Subject: re : enron case study update  wow ! a...    0
5724  Subject: re : interest  david ,  please , call...    0
5725  Subject: news : aurora 5 . 2 update  aurora ve...    0

[5726 rows x 2 columns]

In [8]:
df.isnull().sum()

text    0
spam    0
dtype: int64

In [9]:
df['spam'].value_counts()

0    4358
1    1368
Name: spam, dtype: int64

# Separate x and y

In [10]:
x=df.text.values

In [11]:
y=df.spam.values

# Split dataset

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.20)

# Data preprocessing using CountVectorizer

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [36]:
cv=TfidfVectorizer()

In [37]:
x_train = cv.fit_transform(xtrain)

# Naive bayes classifier algorithm

In [38]:
from sklearn.naive_bayes import MultinomialNB

In [39]:
MNB=MultinomialNB()

In [40]:
MNB.fit(x_train,ytrain)

MultinomialNB()

In [41]:
x_test = cv.transform(xtest)

In [42]:
MNB.score(x_test,ytest)

0.8603839441535777

# Prediction

In [43]:
email=['Holiday Ham is the leading mail order delivery ham company',' such as @gmail.com Image: Pickr. In this example']

In [44]:
e_mail = cv.transform(email)

In [45]:
MNB.predict(e_mail)

array(['0', '0'], dtype='<U1')

# Performance

In [46]:
pred = MNB.predict(x_test)

In [47]:
pred

array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1')

In [48]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [49]:
accuracy_score(ytest,pred)

0.8603839441535777

In [50]:
confusion_matrix(ytest,pred)

array([[863,   0],
       [160, 123]], dtype=int64)

In [51]:
print(classification_report(ytest,pred))

              precision    recall  f1-score   support

           0       0.84      1.00      0.92       863
           1       1.00      0.43      0.61       283

    accuracy                           0.86      1146
   macro avg       0.92      0.72      0.76      1146
weighted avg       0.88      0.86      0.84      1146

In [ ]:
#Before we need to data preprocessing for x beacuse x has catagorical values

In [54]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [55]:
tfid = TfidfVectorizer()

In [56]:
tf_x = tfid.fit_transform(x)

# Cross Validation

# K-Fold Cross Validation

In [52]:
from sklearn.model_selection import cross_val_score

In [57]:
cv_score = cross_val_score(MNB,tf_x,y,cv=10)

In [58]:
cv_score

array([0.87783595, 0.86910995, 0.88132635, 0.87783595, 0.88481675,
       0.88307155, 0.86713287, 0.85664336, 0.8986014 , 0.88811189])

In [59]:
cv_score.mean()

0.8784486020088114