In [ ]:
from google.colab import files
files.upload()

Saving shop data.csv to shop data.csv

{'shop data.csv': b'age,income,gender,m_status,buys\r\n<25,high,male,single,no\r\n<25,high,male,married,no\r\n25-35,high,male,single,yes\r\n>35,medium,male,single,yes\r\n>35,low,female,single,yes\r\n>35,low,female,single,no\r\n25-35,low,female,married,yes\r\n<25,medium,male,married,no\r\n<25,low,female,single,yes\r\n>35,medium,female,married,yes\r\n<25,medium,female,single,yes\r\n25-35,medium,male,married,yes\r\n25-35,high,female,single,yes\r\n>35,medium,male,married,no\r\n<25,high,male,single,no\r\n'}

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('shop data.csv')

In [ ]:
df

      age  income  gender m_status buys
0     <25    high    male   single   no
1     <25    high    male  married   no
2   25-35    high    male   single  yes
3     >35  medium    male   single  yes
4     >35     low  female   single  yes
5     >35     low  female   single   no
6   25-35     low  female  married  yes
7     <25  medium    male  married   no
8     <25     low  female   single  yes
9     >35  medium  female  married  yes
10    <25  medium  female   single  yes
11  25-35  medium    male  married  yes
12  25-35    high  female   single  yes
13    >35  medium    male  married   no
14    <25    high    male   single   no

In [ ]:
x=df.iloc[:,:-1]

In [ ]:
x

      age  income  gender m_status
0     <25    high    male   single
1     <25    high    male  married
2   25-35    high    male   single
3     >35  medium    male   single
4     >35     low  female   single
5     >35     low  female   single
6   25-35     low  female  married
7     <25  medium    male  married
8     <25     low  female   single
9     >35  medium  female  married
10    <25  medium  female   single
11  25-35  medium    male  married
12  25-35    high  female   single
13    >35  medium    male  married
14    <25    high    male   single

In [ ]:
y=df.iloc[:,4]

In [ ]:
y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
14     no
Name: buys, dtype: object

# now data pre-processing

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
label = LabelEncoder()

In [ ]:
x=x.apply(LabelEncoder().fit_transform)

In [ ]:
x

    age  income  gender  m_status
0     1       0       1         1
1     1       0       1         0
2     0       0       1         1
3     2       2       1         1
4     2       1       0         1
5     2       1       0         1
6     0       1       0         0
7     1       2       1         0
8     1       1       0         1
9     2       2       0         0
10    1       2       0         1
11    0       2       1         0
12    0       0       0         1
13    2       2       1         0
14    1       0       1         1

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
import numpy as np

In [ ]:
dtf = DecisionTreeClassifier()

In [ ]:
dtf.fit(x.iloc[:,0:4],y)

DecisionTreeClassifier()

In [ ]:
xinput=np.array([1,1,0,0])

In [ ]:
y_predict = dtf.predict([xinput])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
y_predict

array(['yes'], dtype=object)